@font-face {
  font-family: "EB Garamond";
  src: url("{{ garamond_regular_uri }}") format("truetype-variations");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "EB Garamond";
  src: url("{{ garamond_italic_uri }}") format("truetype-variations");
  font-style: italic;
  font-weight: 400;
}
